In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
import pandas as pd
import tensorflow as tf
import sklearn as skl
import numpy as np
#  Import and read the charity_data.csv.
import pandas as pd
df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop this column that seems to be making noise
df = df.drop(columns='INCOME_AMT')

In [3]:
# Get value counts for the ASK_AMT column
df['ASK_AMT'].value_counts()

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [4]:
# Calculate Q1 and Q3
Q1 = df['ASK_AMT'].quantile(0.25)
Q3 = df['ASK_AMT'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier criteria
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
df_no_outliers = df[(df['ASK_AMT'] >= lower_bound) & (df['ASK_AMT'] <= upper_bound)]

In [5]:
# Calculate statistics
max_value = df_no_outliers['ASK_AMT'].max()
min_value = df_no_outliers['ASK_AMT'].min()
median_value = df_no_outliers['ASK_AMT'].median()
average_value = df_no_outliers['ASK_AMT'].mean()

# Print the results
print(f"Max: {max_value}")
print(f"Min: {min_value}")
print(f"Median: {median_value}")
print(f"Average: {average_value}")

Max: 11854
Min: 5000
Median: 5000.0
Average: 5082.225347794428

In [6]:
# Drop unnecessary columns
df_no_outliers = df_no_outliers.drop(columns=['EIN', 'NAME'])

# 'APPLICATION_TYPE' and 'CLASSIFICATION' based on cutoff points.
application_counts = df['APPLICATION_TYPE'].value_counts()
app_types_to_replace = application_counts[application_counts < 528].index
df_no_outliers['APPLICATION_TYPE'] = df_no_outliers['APPLICATION_TYPE'].replace(app_types_to_replace, 'Other')

class_counts = df['CLASSIFICATION'].value_counts()
class_to_replace = class_counts[class_counts < 1883].index
df_no_outliers['CLASSIFICATION'] = df_no_outliers['CLASSIFICATION'].replace(class_to_replace, 'Other')

# Convert categorical data to one-hot encoding
df_no_outliers = pd.get_dummies(df_no_outliers)

# Split features and target arrays
X = df_no_outliers.drop(columns=['IS_SUCCESSFUL']).values
y = df_no_outliers['IS_SUCCESSFUL'].values

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()
    
    # Input layer
    nn_model.add(tf.keras.layers.Input(shape=(X_train.shape[1],)))


    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_inits',
                                                    min_value=1,
                                                    max_value=50,
                                                    step=2), activation=activation))
    
    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 10)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                                        min_value=1,
                                                        max_value=50,
                                                        step=2),
                                           activation=activation))
        
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    return nn_model

In [8]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=100,
    hyperband_iterations=2)

Reloading Tuner from ./untitled_project/tuner0.json

In [9]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled, y_train, epochs=15, validation_data=(X_test_scaled, y_test))

Trial 504 Complete [00h 00m 40s]
val_accuracy: 0.5308093428611755

Best val_accuracy So Far: 0.7483139038085938
Total elapsed time: 11h 20m 36s

In [10]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_inits': 37,
 'num_layers': 8,
 'units_0': 21,
 'units_1': 19,
 'units_2': 27,
 'units_3': 7,
 'units_4': 37,
 'units_5': 33,
 'units_6': 49,
 'units_7': 9,
 'units_8': 49,
 'units_9': 43,
 'tuner/epochs': 12,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 2,
 'tuner/round': 0}

In [11]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

204/204 - 0s - 798us/step - accuracy: 0.7483 - loss: 0.5406
Loss: 0.5406190156936646, Accuracy: 0.7483139038085938

In [18]:
# Export the best model to HDF5 file
best_model.save('Output_model/AlphabetSoupCharity_Optimized.keras')